/* work sans font form google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
      font-family: "Work Sans", sans-serif;
}

header{
    background-color: #fbf5db;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
color: #131313;
font-size: 3rem;
font-weight: 700;

}

nav > ul{
    display: flex;

}

nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500px;
    font-size: 18px;

}

nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner related style */
.banner-content{
    max-width: 820px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 64px;
}

.banner-description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.btn-primary{
    background-color: #FF900E;
   font-size: 20px;
   font-weight: 600px;
   color: white;
   padding: 17px 30px;
   border: none;
   border-radius: 8px;

}

.banner-image img{
    width: 100%;
    margin-top: 30px;
}