/* work sans font form google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared style */
*{
      font-family: "Work Sans", sans-serif;
}

.btn-primary{
    background-color: #FF900E;
   font-size: 20px;
   font-weight: 600px;
   color: white;
   padding: 17px 30px;
   border: none;
   border-radius: 8px;
   cursor: pointer;

}

.section-title{
color: #131313;
font-size: 35px;
font-weight: 700;

}



header{
    background-color: #fbf5db;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav > ul{
    display: flex;

}

nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500px;
    font-size: 18px;

}

nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner related style */
.banner-content{
    max-width: 820px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 64px;
}

.banner-description{
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}



.banner-image img{
    width: 100%;
    margin-top: 30px;
}

/* Main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.teams-content{
    padding-left: 70px;
    padding-right:70px;
}

.teams-title{
    font-size: 45px;
    font-weight: 600px;
    color: #131313;
    margin-bottom: 5px;
}

.teams-title .quick-list{
    font-size:45px;
    font-weight: 600px;
    color: #727272;
}

.teams-title .text-feature{
    font-size: 45px;
    color: #FF900E;
    font-weight: 600px;
   
    
}

.teams-description{
    color: #727272;
    font-size: 16px;
    margin-bottom: 20px;
   
}

/* facts section */

.facts-card-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
  


}

.facts-title{
    font-size: 45px;
    color: #131313;
    font-weight: 700;
    text-align: center;
}

.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding:30px;
}

.facts-card-container .card-stats{
    font-size: 45px;
    font-weight: 600px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-size: 20px;
    font-weight: 600px;
    color: #727272;
    text-align: center;
}

.facts-description{
    font-size: 16px;
    color: #424242;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 40px;
}

/* sponsor section style */
.sponsor-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700px;
    text-align: center;
}

.sponsor-description{
    color: #424242;
    font-size: 16px;
    text-align: center;
    margin-top: -20px;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    margin-top: 40px
}
.sponsor-img-container img{
width: 160px;
}
/* Responsive mobile device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container, .facts-card-container, .sponsor-img-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        padding: 10px;
    }
   
}


/* Responsive tablet or mobile device */
@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container, .sponsor-img-container{
        flex-direction: column;
    }
}